@use '../../../src/app/styles/vars.scss' as *;
@use '../../../src/app/styles/media-queries.scss' as *;

.title {
  display: flex;
  justify-content: center;
  color: var(--accent-text-color);
  font-family: var(--font-raleway);
  font-size: var(--font-size-md);
  margin: 60px 0;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
  justify-content: center; 
  padding: 0 20px; 
}

.card {
  max-width: 100%; 
  background-color: var(--background-color) !important;
  border: 0.7px solid var(--accent-text-color);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 10px; 

  .cardContent {
    flex: 1;
    padding: 6px;
  }

  .cardTitle {
    color: var(--text-color);
    font-family: var(--font-raleway);
    font-size: var(--font-size-xs);
    font-weight: 100 !important;
    margin-bottom: 10px !important;
  }

  .cardTechStack {
    color: var(--accent-text-color);
    font-family: var(--font-open-sans);
    font-size: var(--font-size-xs) !important;
    font-weight: 100 !important;
  }

  .cardActions {
    display: flex;
    justify-content: center; 
  }

  .cardButton {
    color: var(--accent-color) !important;
  }

  @include desktop {
    max-width: 400px; 
    &:hover {
      transform: scale(1.05);
      box-shadow: 0 4px 8px rgb(0, 215, 254);
    }
  }
}

.btnProject {
  display: flex;
  justify-content: center;
  margin-top: 30px; 
  margin-bottom: 60px; 
}

.projectBtn {
  border: 1px solid var(--text-color);
  border-radius: 3px;
  padding: 15px 30px; 
  box-shadow: var(--box-shadow);
  background-color: var(--text-color);
  text-decoration: none;
  color: var(--background-color);
  font-weight: 300;
  font-family: var(--font-raleway);
  font-size: var(--font-size-md);

  &:hover {
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
    transition: 0.4s ease-in;
    box-shadow: none;
  }
}