@use '../../../src/app/styles/vars.scss' as *;
@use '../../../src/app/styles/media-queries.scss' as *;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;   
    position: sticky;  
    top: 0;            
    width: 100%;        
    background-color: var(--hero-background); 
    z-index: 1000;     
    box-sizing: border-box; 
    overflow: visible; 
}

.logo{
    margin-top: 20px;
}

.ev {
    font-weight: 600;
    font-size: var(--font-size-sm);
    text-decoration: none;
    color: var(--text-color);
    font-family: var(--font-open-sans);
    font-weight: 200;
}

.e,
.v {
    color: var(--accent-color);
}