@use '../../../src/app/styles/vars.scss' as *;
@use '../../../src/app/styles/media-queries.scss' as*;

.title {
    display: flex;
    justify-content: center;
    color: var(--accent-text-color);
    font-family: var(--font-raleway);
    font-size: var(--font-size-md);
    margin: 60px 0;
}

.aboutContainer {
    display: flex;
    justify-content: space-between;
    color: var(--text-color);
    margin-top: 20px;
}

.centerP {
    font-size: var(--font-size-sm);
    font-weight: 100;
    font-family: var(--font-raleway);
    line-height: 1.2;
    margin-left: 20px;
}